*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}
body{
    background-color: aliceblue;
    padding: 2rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-header-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
}
.card{
    background-color: white;
    width: 250px;
    padding: 2rem;
    border-radius: 12px;
}
.top-select{
    display: flex;
    gap: 1rem;
    width: 95%;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 12px;
}
.top-select div{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.top-select div select{
    padding: 8px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgba(196, 188, 188, 0.289);
}
.top-select div:nth-child(4){
    justify-content: flex-end;
    align-items: self-start;
    width: 100px;

}
.top-select div:nth-child(4) button{
background-color: rgb(53, 53, 202);
color: white;
width: 100px;
border: none;
padding: 12px;
border-radius: 8px;

}
.order-text-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-card1,
.order-card2,
.order-card3,
.order-card4,
.order-card5,
.order-card6 {
    background: white;
    display: flex;
    border-radius: 8px;
    align-items: center;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    font-size : 14px;
    font-weight: 500;
    margin-top: 1rem;
}
.order-card1{
        border-left: solid red 5px;
}
.order-card2{
        border-left: solid rgb(0, 72, 255) 5px;
}
.order-card2 div,
.order-card3 div,
.order-card4 div,
.order-card5 div{
    width: 100%;
}


.order-header{
        display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
}

.order-header p{
    margin-top: 12px;
    margin-bottom: 12px;
}
.order-header i{
    font-size: 1.5em;
    color: rgb(128, 128, 128);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;    
    align-items: center;
    border-radius: 50%;
    color: #2561EB;
}
.order-card1 i{
background-color: red;
color: #2561EB;
}
.order-card2 i{
background-color: rgba(6, 14, 255, 0.708);
color: rgba(14, 14, 232, 0.628);
}
.order-card3 i{
background-color: rgba(86, 195, 109, 0.837);
color: rgb(6, 108, 134);
}
.order-card4 i{
background-color: rgba(116, 112, 112, 0.767);
color: rgba(9, 74, 255, 0.569);
}
.order-card5 i{
background-color: rgba(240, 165, 0, 0.767);
color: rgba(9, 75, 255, 0.848);
}
.btn-btn-edit{
    background-color: white;
    border: solid 1px rgba(196, 188, 188, 0.289);
    padding: 6px 12px;
    border-radius: 5px;
    
}
.btn-btn-view1{
    background-color: rgba(163, 162, 162, 0.122);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    
}
.btn-btn-view2{
    background-color: #2561EB;
    border: none;
    color: white;
  padding: 6px 12px;
    border-radius: 5px;
    
}
.envoie{
    background-color: #51BEEF;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    
}
i{
    color: black;
}
label{
    font-weight: bold;
    font-size: 14px;
}
.card-content{
    display: flex;
    align-items: center;
    gap: 12px;
}
.card-content i{
    font-size: 2em;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.card:first-child .card-content i{
    background-color: #2561EB;

}
.card:nth-child(2) .card-content i{
    background-color: #db0a0a;

}
.card:nth-child(3) .card-content i{
    background-color: #4b985b;

}
.card:nth-child(4) .card-content i{
    background-color: #323232bb;

}
.card:nth-child(5) .card-content i{
    background-color: #f0a500;

}
.details{
    background-color: white;
    border: solid 1px rgba(196, 188, 188, 0.289);
    color: rgba(116, 112, 112, 0.767);
    width: 108px;
    height: 28px;
    border-radius: 5px;
}
.securiter{
    background-color: rgba(230, 225, 225, 0.378);
    border: solid 1px rgba(196, 188, 188, 0.289);
    color: rgba(10, 7, 7, 0.797);
    width: 138px;
    height: 28px;
    border-radius: 5px;
}
.total{
    font-size: 12px;
    color: gray;
    font-weight: 400;
    display: flex;
    justify-content: center;
 
}
.order-card6 div{
    display: flex;
    gap: 8px;
}
.filter-btn button{
    background-color: rgb(53, 53, 202);
    color: white;
    width: 100px;
    border: none;
    padding: 12px;
    border-radius: 8px;
    
}
.filter-btn button i{
    margin-right: 8px;
    color: white;
}
.order-card6 div button{
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    
}
button{
    cursor: pointer;
}
.order-card6 div button:first-child{
    background-color: white;
    border: solid 1px rgba(196, 188, 188, 0.289);
    color: black;
}
@media (max-width: 1024px) {
    body{
    padding: 1rem;
    }
    .order-card1,
    .order-card2,
    .order-card3,
    .order-card4,
    .order-card5,
    .order-card6 {
      padding: 1rem ;
    }

    .order-card1 i,
    .order-card2 i,
    .order-card3 i,
    .order-card4 i,
    .order-card5 i{
        width: 40px;
        height: 40px;
        font-size: 1.2em;
        display: flex;
        justify-content: center;    
        align-items: center;
        border-radius: 50%;
    }
    .main-header-card i{
        font-size: 1em;
        display: flex;
        justify-content: center;    
        align-items: center;
        width: 40px;
        height: 40px;

    }
    .main-header-card{
        padding: 1rem;
        gap: 12px;
    }
    .card{
        width: 200px;
        padding: 1rem;
        height: 100px;
        display: flex;
    }

}
@media (max-width: 768px){
    .main-header-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        width: 100%;
    }
    .top-select{
        flex-direction: column;
        align-items: flex-start;
    }
    .top-select div, 
    .top-select div select{
        width: 100%;
    }
    .filter-btn
     button{
        width: 100%;
    }
    div.filter-btn{
        width: 100% !important;
    }
    div.order-header{
        flex-direction: column !important;
    }
    .order-text-content{
        flex-direction: column;
        align-items: self-start;
    }

}