* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: auto;
    background-color: aliceblue;
    padding: 2rem;
}

.main-content {
    padding: 20px;
}

.Paramètre-header {
    margin-bottom: 30px;
}

.Paramètre-header h1 {
    font-size: 2.2em;
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

}

.top-content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.top-content .card:last-child select {
    width: 100px;
    padding: 2px;

}

.card-content{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 3rem;


}
.card-content:nth-child() {
    background-color: #f9f9f9;
}
.top-content2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.top-content2 .card {
    flex: 1;
    margin: 0 10px;
    width: auto;
}
.card, .card2 {
    border: solid 1px;
    border-radius: 7px;
    width: 500px;
    height: 100px;
    display: flex;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.card2 {
    margin: 0px 10px;
    width: 348px;
}
.card div h3 {
    margin-bottom: 8px;
    font-size: 16px;
}
.card div p {
    font-size: 14px;
    color: gray;
}
.tree-content .card:last-child button {
    background-color: rgba(9, 137, 176, 0.93);
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    color: white;
    border: none;
}
 .card-content2, .card-content3  {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 3rem;
}
.card-content2 .card, .card-content3 .card {
    width: 100%;
}   
.tree-content .card:nth-child(2) button {
    background-color: white;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    border: solid 1px;
}

.tree-content .card:nth-child(1) button {
    background-color: rgba(233, 227, 227, 0.686);
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    border: none;
}

.footer-content .card:first-child {
    background-color: blue;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #007bff;
 
}

input:checked+.slider::before {
    transform: translateX(26px);
}